<div class="SmallHeading">Your Profile</div>

<div class="Profile">
<p>Name: <%= @user.name %></p>
<p>Email: <%= @user.email %></p>
<p> <img src=<%=@user.image %> class="thumbnail"></p>
<p>List of Lost Items</p>
<p>List of Found Items</p>
<div>
<!-- <p>Password digest: <%= @user.password_digest %></p> -->
