<h1>LostCat</h1>

<% if @current_user.present?%>
<p>Currently showing items within a 20km radius of <span class="important">
  <%=@current_user.address %> </span> </p>
<% end %>

<div id="main">

<div id="column1">
<h3>Lost Items</H3>
  <% @lost_items.each do |l| %>
    <ul>
      <li>
        <%= link_to l.name, lost_item_path(l) %>
      </li>
    </ul>
  <%end%>
</div>

<div id="column2">
<h3>Found Items</h3>
<% @found_items.each do |f| %>
  <ul>
    <li>
      <%= link_to f.name, found_item_path(f) %>
    </li>
  </ul>
  <% end %>
</div>

</div>
