<h1>WALDO Home Page</h1>


<div id="main">

<div id="column1">
<h3>Lost Items in your area</H3>
    <% @lost_items.each do |l| %>
      <ul>
        <li>
          <%= link_to l.name, lost_item_path(l) %>
        </li>
      </ul>
    <%end%>
</div>

<div id="column2">
<h3>Found Items in your area</h3>
<% @found_items.each do |f| %>
  <ul>
    <li>
      <%= link_to f.name, found_item_path(f) %>
    </li>
  </ul>
  <% end %>
</div>



</div>
