<div class="SmallHeading">Items Found in Your Area</div>
<br>
<hr class= "linebreak">
<% @found_items.each do |f| %>
  <ul>
    <li>Name: <%= link_to f.name, found_item_path(f) %></li>
    <br>
    <li>Description: <%=f.description%></li>
    <br>
    <li><img src= "<%=f.image %>" class= "thumbnail"></li>
  </ul>
  <br>
  <hr class= "linebreak">
<% end %>

<p>
<%= link_to "Add Item Found", new_found_item_path%>
</p>
