<h2>Lost Items</h2>

<p><%= @lost_item.name %></p>
<p>Description: <%= @lost_item.description %></p>
<p><img src=<%=@lost_item.image %> class= "thumbnail"></p>
<p>Who lost it? <%=@lost_item.user %></p>
